# Database config
DB_NAME=portal_berita
DB_USER=postgres
DB_PASS=your_db_password
DB_HOST=localhost

# Environment
NODE_ENV=development

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Database Railway
RAILWAY_DATABASE_URL=postgresql://user:password@host:port/database

# JWT
JWT_SECRET=your_jwt_secret_key_here
